{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                {% if True -%}
                    <div id="user_note" class="">Please enter search value above.</div>
                    <table class="table table-striped">
                        <thead id="parcel_list_header" class="thead-dark">
                        </thead>
                        <tbody id="parcel_list">
                        </tbody>
                    </table>
                {%- endif %}
            </div>
            {% include 'footer.html' %}
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script type="text/javascript">
        window.addEventListener('load', parcel_load_value);
    </script>

    {% endblock %}
{% endblock %}
