{% extends "bootstrap/base.html" %}
{% block title %}{{ context.title }}{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span id="A" class="icon-bar"></span>
                    <span id="B" class="icon-bar"></span>
                    <span id="C" class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Parcel Docs</a>
            </div>
            <div class="navbar-collapse collapse">
                {% if context.showsearch %}
                    <form class="navbar-form navbar-right" >
                        <div class="form-group">
                            <input type="text" placeholder="Parcel ID" onkeyup="parcel_lookup()" id="inp_parcel"/>
                        </div>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav">
                    <li><a href="/"><img class="iconx2" src="{{ url_for('static', filename='icons/301-house.svg') }}"/></a></li>
                    <li><a href="/setup">Setup</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}
