{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                <div class="row">
                        <div class="col-xs-3" id="parcel_list">
                            <ul>
                                {% for p in context.parcels %}
                                    <li>{{ p }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-xs-8" id="parcel_files">
                            &nbsp;
                        </div>
                </div>
            </div>
            <hr>
            {% include 'footer.html' %}
        </div>
{#        <script type="text/javascript" src="{{ url_for('static', filename='js/parcel_load.js') }}"></script>#}
        <script type="text/javascript" src="{{ url_for('static', filename='js/dragdrop.js') }}"></script>

    {% endblock %}
{% endblock %}
