{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                <div class="row">
                        <div class="col-xs-3" id="parcel_list">
                        </div>
                        <div class="col-xs-8" id="parcel_files">
                        </div>
                </div>
            </div>
            <hr>

            <form action="/uploadfile" method="post" enctype="multipart/form-data">
                <label>File:</label>
                <input type="file" id="fileElem" name="file"/><br>
                {# The following is set when user selects a parcel. #}
                <input type="hidden" id="fileElemParcel" name="parcel_id" value=""/>
                <input type="submit" />
            </form>

            {% include 'footer.html' %}
        </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script type="text/javascript">
        window.addEventListener('load', parcel_load_value);
    </script>

    {% endblock %}
{% endblock %}
