{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-8" id="parcel_files">
                        Parcel: {{ context.parcel }}
                    </div>
                </div>
                <hr>
                <form action="/renamefile" method="post">
                    <input type="hidden" name="encoded" value="{{ context.encoded }}"/>
                    <input type="hidden" name="parcel" value="{{ context.parcel }}"/>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td class="col">Current File:</td>
                            <td class="col" colspan="3">{{ context.file }}</td>
                        </tr>
                        <tr>
                            <td class="col">New File Name:</td>
                            <td class="col" colspan="3">
                                <input type="text" name="newfilename" class="form-control" value="{{ context.file }}" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-default" type="submit">Apply</button>
                </form>

            </div>
            <hr>
            {% include 'footer.html' %}
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% endblock %}
{% endblock %}
