{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-8" id="parcel_files">
                        Parcel: {{ context.parcel }}
                    </div>
                </div>
                <hr>
                <form action="/renamefile" method="post">
                    <input type="hidden" name="encoded" value="{{ context.encoded }}"/>
                    <input type="hidden" name="parcel" value="{{ context.parcel }}"/>
                    <div class="row">
                        <div class="col-sm-2">Current File:</div>
                        <div class="col-sm-8">{{ context.file }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">New File Name:</div>
                        <div class="col-sm-8"><input type="text" name="newfilename" value="{{ context.file }}" /></div>
                    </div>
                    <button class="btn btn-default" type="submit">Apply</button>
                </form>

            </div>
            <hr>
            {% include 'footer.html' %}
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% endblock %}
{% endblock %}
