{% extends "base.html" %}

{% block page_content %}
    {% block content %}
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <div class="container">
            <div class="page-header">
                <div class="row">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td class="col" id="parcel_id">{{ context.parcel }}</td>
                            <td class="col">Acres: {{ context.details.acres }}</td>
                            <td class="col">County: {{ context.details.county }}</td>
                        </tr>
                        <tr>
                            <td class="col">
                                STR: {{ context.details.section }}/{{ context.details.township }}/{{ context.details.range }}</td>
                            <td class="col" colspan="2">{{ context.details.legal }}</td>
                        </tr>
                        <tr>
                            <td class="col" colspan="3">Notes:{{ context.details.notes }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">File</th>
                        <th scope="col">Size</th>
                        <th scope="col">Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in context.files %}
                        <tr>
                            <td class="col-xx-4"><a target="_blank" href="/fileio/sendfile/{{ f.encoded }}">{{ f.name }}</a>
                            </td>
                            <td class="col-xs-3">{{ f.filesize }}</td>
                            <td class="col-xs-3">{{ f.mtime }}</td>
                            <td class="col-xs-1">
                                <a href="/fileio/renamefile/{{ f.encoded }}/{{ context.parcel }}" title="Rename"><img
                                        class="icon" src="{{ url_for('static', filename='icons/301-edit.svg') }}"/></a>
                                <a href="/fileio/deletefile/{{ f.encoded }}/{{ context.parcel }}" title="Remove"><img
                                        class="icon" src="{{ url_for('static', filename='icons/301-garbage-1.svg') }}"/></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="dropzone" id="dropzone">Drop Files Here to Upload.</div>
            {% include 'footer.html' %}
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <script type="text/javascript">
            dragdrop_init();
        </script>

    {% endblock %}
{% endblock %}
